.contactus{
	background-image:url(../images/contact.png);
	background-repeat:no-reapt;
	background-size:cover;
	position:relative;
	h2{
		font-size:30px;
		text-align:center;
		disply:block;
		line-height:200px;
		color:#fff;
		background-color:rgba(0, 0, 0, 0.71);
		font-family: 'Playfair Display', serif;
		font-weight:600;
	}
}

.contact-deatils{
	span{
		disply:block;
		width:167px;
		height:167px;
		line-height:167px;
		text-align:center;
		float:right;
		background-color:#f1f1f1;
		border-radius:160px;
		-webkit-border-radius:160px;
		-moz-border-radius:160px;
		position:relative;
		margin:20px 0px;
		img{
			max-height: 50%;
		    max-width: 50%;
		    width: auto;
		    height: auto;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	}
	h3{
		font-size:24px;
		font-family: 'Playfair Display', serif;
		color:#222;
		disply:block;
		padding-top:50px;
		font-weight:600;
		padding-bottom:10px;
	}
	h4{
		color:#222;
		font-weight:500;
		disply:block;
		padding-bottom:10px;
	}
	ul{
		padding-top:10px;
		margin-bottom: 30px;
		li{
			disply:block;
			padding-bottom:5px;
			color:#999;
			font-size:14px;
			i{
				disply:inline-block;
				width:20px;
				color:$green;

			}
		}
	}
}

.form-map{
	width:100%;
	border-top:1px solid #f1f1f1;
	padding-top:30px;
	.box-form{
		width:100%;
		height:auto;
		background-color:#f1f1f1;
		padding:20px;
		margin-bottom:30px;
		h3{
			font-size:24px;
			font-family: 'Playfair Display', serif;
			margin:0px;
			padding-top:0px;
			display:block;
			padding-bottom:20px;
			border-bottom:1px solid #e1e1e1;
			margin-bottom:20px;
			font-weight:600;
		}
		.input-field{
			margin-bottom:10px;
			label{
				font-size:16px;
				color:#333;
			}
		}
		button{
			disply:block;
			width:100%;
			height:35px;
			border:none;
			background-color:$green;
			border-radius:3px;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			a{
				color:#fff;
			}
		}
	}
}