// solution-banner
// ===================================================

.solution-banner{
	background-image:url(../images/solution-banner.png);
	background-repeat:no-reapt;
	background-size:cover;
	position:relative;
	h2{
		font-size:30px;
		text-align:center;
		disply:block;
		line-height:200px;
		color:#fff;
		background-color:rgba(0, 0, 0, 0.71);
		font-family: 'Playfair Display', serif;
		font-weight:600;
		span{
			color:$green;
		}
	}
}

.solution-head{
	width:100%;
	height:auto;
	padding:50px 0px;
	border-bottom:1px solid #f1f1f1;
	float:left;
}
.box-product-detail{
	position:relative;
	width:100%;
	height:auto;
	.product-picture{
		width: 50%;
		height: 450px;
		background-color:#f1f1f1;
		float: right;
		overflow: hidden;
		img{
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
	}
	.product-discription{
		width: 60%;
		height: 300px;
		position:absolute;
		padding:35px;
		background-color:#fff;
		z-index: 1;
		top:80px;
		border:1px solid #f1f1f1;
		h2{
			font-size: 24px;
			font-family: 'Playfair Display', serif;
			font-weight:600;
			color: #333;
			display: block;
			padding-bottom:20px;
		}
		p{
			font-size: 14px;
			line-height: 26px;
		}
	}
}

.how-it-work{
	float:left;
	width:100%;
	padding:50px 0px;
	h3{
		font-size: 24px;
		font-family: 'Playfair Display', serif;
		font-weight:600;
		color: #333;
		display: block;
		padding-bottom:40px;

	}
	p{
		img{
			width:100%;
			height:auto;
		}
	}
	ul{
		li{
			padding-bottom: 20px;
		    font-size: 14px;
		    background-image: url(../images/dot.svg);
		    padding-left: 20px;
		    background-repeat: no-repeat;
		    background-size: 10px;
		    background-position: 0px 4px;
    		line-height: normal;
		}
	}
}


.success-story{
	width:100%;
	height:auto;
	background-image: url(../images/solution/success-story.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color:#244262;
    padding:5%;
    h2{
    	font-size: 24px;
		font-family: 'Playfair Display', serif;
		font-weight:600;
		color: #fff;
		display: block;
		padding-bottom:30px;
		text-align: center;
    }
    p{
    	font-size:14px;
		font-style:italic;
		letter-spacing: 1px;
		line-height:30px;
		font-family: 'Playfair Display', serif;
		color:#fff;
		opacity: 0.8;
		text-align: center;
		font-weight: 400;
		// border-bottom:1px solid rgba(249, 249, 249, 0.18);
		padding-bottom:30px;
		margin-bottom: 30px;
    }
    ul{
    	li{
    		color: #fff;
    		font-size:14px;
			font-style:italic;
			letter-spacing: 1px;
			font-family: 'Playfair Display', serif;
    	}
    }
    i{
    	text-align: right;
    	display: block;

    	img{
    		width: 150px;
    	}
    }
}