.banner{
  width: 100%;
  height: 600px;
  background: #e1e1e1;
  color: #fff;
  .banner-text{
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0px;
  	left:0px;
  	background: rgba(0, 0, 0, 0.6);
  	z-index: 10;
  	h1{
  		text-align: left;
  		font-family: 'Playfair Display', serif;
  		font-weight: 600;
  		font-size: 60px;
  		display: block;
  		padding: 10% 0px 20px 0px;

  	}
  	p{
  		font-size: 14px;
  		color: #fff;
  		text-align: left;
  		font-weight: 600;
  		font-size: 14px;
  		line-height: 22px;
  		display: block;
  		width: 50%;
  	}
  	button{
  		display: block;
  		width: 150px;
  		float: left;
  		background:$green;
  		text-align: center;
  		height: 40px;
  		border:none;
  		border-radius:3px;
  		-webkit-border-radius:3px;
  		-moz-border-radius:3px;
  		overflow: hidden;
  		a{
  			color: #fff;
  			font-size: 14px;
  			font-weight: 600;
  		}
  	}
  }
}

.sub-banner{
  width:100%;
  height:200px;
  background:#f1f1f1;
  // margin-bottom: 50px;
  background-attachment:fixed;
}