.top-header{
		width: 100%;
		height: 35px;
		border-bottom: 1px solid #f1f1f1;
		.top-contact-details{
			color: $green;
			li{
				display: inline-block;
				font-size: 14px;
				line-height: 35px;
				padding-right: 20px;
			}
		}
		.top-social{
			float: right;
			li{
				display: inline-block;
				font-size: 14px;
				line-height: 35px;
				a{
					color: $green;
					padding: 0px 5px;
				}
			}
		}
	}
header{
	min-height: 95px;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	
	.logo{
		img{
			height: 40px;
			width: auto;
			margin-top: 10px;
		}
	}

}
.nav ul a{
	font-size: 16px!important;
	font-weight: normal;
	color: #fff!important;
}
